<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title ">Employees</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <button *ngIf="!(showAddEmployeeForm || showEditEmployeeForm)" type="submit" class="btn btn-info pull-right" (click)="showAddEmployeeForm = true">Add Employee</button>
                                <table class="table" *ngIf="!(showAddEmployeeForm || showEditEmployeeForm)">

                                    <thead class=" text-info">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Phone
                                        </th>
                                        <th>
                                            Address
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let employee of employees" [employee]="employee">

                                            <td>
                                                {{employee.id}}
                                            </td>
                                            <td>
                                                {{employee.firstName}} {{employee.lastName}}
                                            </td>
                                            <td>
                                                email
                                            </td>
                                            <td>
                                                phone
                                            </td>
                                            <td>
                                                address
                                            </td>
                                            <td>
                                                <button type="submit" class="btn btn-warning" (click)="showEdit(employee)">Edit&emsp;</button>

                                                <button type="submit" class="btn btn-danger" (click)="deleteEmployee(employee)">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div *ngIf="showAddEmployeeForm" class="card-body">
                                    <button *ngIf="showAddEmployeeForm" type="submit" class="btn btn-danger pull-right" (click)="showAddEmployeeForm = false">Cancel</button>
                                    <br>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">First Name</label>
                                                    <input type="text" class="form-control" name="firstName" [(ngModel)]="newEmployee.firstName">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Last Name</label>
                                                    <input type="text" class="form-control" name="lastName" [(ngModel)]="newEmployee.lastName">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Email Address</label>
                                                    <input type="email" class="form-control" name="email" [(ngModel)]="newEmployee.email">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Phone</label>
                                                    <input type="email" class="form-control" name="phone" [(ngModel)]="newEmployee.phone">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Adress</label>
                                                    <input type="text" class="form-control" name="address" [(ngModel)]="newEmployee.address">
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-info pull-left" (click)="addEmployee()">Submit New Employee</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>

                                <div *ngIf="showEditEmployeeForm" class="card-body">
                                    <button *ngIf="showEditEmployeeForm" type="submit" class="btn btn-danger pull-right" (click)="showEditEmployeeForm = false">Cancel</button>
                                    <br>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">First Name</label>
                                                    <input type="text" class="form-control" name="firstName" value="employeeToEdit.firstName" [(ngModel)]="employeeToEdit.firstName">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Last Name</label>
                                                    <input type="text" class="form-control" name="lastName" value="employeeToEdit.lastName" [(ngModel)]="employeeToEdit.lastName">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Email Address</label>
                                                    <input type="email" class="form-control" name="email" value="employeeToEdit.email" [(ngModel)]="employeeToEdit.email">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Phone</label>
                                                    <input type="email" class="form-control" name="phone" value="employeeToEdit.phone" [(ngModel)]="employeeToEdit.phone">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Adress</label>
                                                    <input type="text" class="form-control" name="address" value="employeeToEdit.address" [(ngModel)]="employeeToEdit.address">
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-info pull-left" (click)="editEmployee()">Submit Edit</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>