<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title ">Employees</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-info">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Phone
                                        </th>
                                        <th>
                                            Address
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let employee of employees" [employee]="employee">

                                            <td>
                                                {{employee.id}}
                                            </td>
                                            <td>
                                                {{employee.firstName}} {{employee.lastName}}
                                            </td>
                                            <td>
                                                email
                                            </td>
                                            <td>
                                                phone
                                            </td>
                                            <td>
                                                address
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>