<div class="row mb-5">
    <div class="media tm-flexbox-ie-fix tm-width-ie-fix">
        <div class="tm-media-img-container">
            <div class="text-center pt-31 pb-31 tm-timeline-date tm-bg-gray">{{employee.firstName}} {{employee.lastName}}</div>
            <img class="d-flex img-fluid" src="img/610x610-04.jpg" alt="Generic placeholder image">
        </div>

        <div class="media-body tm-flexbox-ie-fix tm-width-ie-fix tm-bg-light-gray">
            <div class="p-5">
                <h2 class="mb-4 mt-0 tm-blue-text tm-timeline-item-title">Donec quis fermentum nulla</h2>
                <p class="mb-4">Vivamus efficitur lorem ac velit vulputate, sed consectetur leo fermentum. Fusce non lacinia eros. Suspendisse pharetra nisi fermentum bibendum condimentum. Nam sit amet consectetur dui. Ut malesuada commodo enim, nec varius diam ultricies
                    finibus. Curabitur molestie dui vel metus iaculis suscipit.</p>
                <a href="#" class="btn btn-primary tm-button-rounded tm-button-gray tm-button-no-border tm-button-normal tm-button-timeline">Read More</a>
            </div>
        </div>
    </div>
</div>