<body>
    <div class="container-fluid">
        <div class="tm-body">
            <div class="tm-sidebar sticky">
                <section id="welcome" class="tm-content-box tm-banner margin-b-15">
                    <div class="tm-banner-inner">
                        <i class="fa fa-film fa-4x margin-b-40"></i>
                        <h1 class="tm-banner-title">Staff Tracker</h1>
                        <p class="tm-banner-subtitle">by Noel Castillo</p>
                    </div>
                </section>
                <nav class="tm-main-nav">
                    <ul class="tm-main-nav-ul">
                        <li class="tm-nav-item"><a href="" class="tm-nav-item-link tm-button active">Schedule</a>
                        </li>
                        <li class="tm-nav-item"><a href="" class="tm-nav-item-link tm-button">Employees</a>
                        </li>
                        <li class="tm-nav-item"><a href="" class="tm-nav-item-link tm-button">Positions</a>
                        </li>
                        <li class="tm-nav-item"><a href="" class="tm-nav-item-link tm-button">Weather</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>