<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title ">Positions</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-info">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Days
                                        </th>
                                        <th>
                                            Shift
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let position of positions" [position]="position">

                                            <td>
                                                {{position.id}}
                                            </td>
                                            <td>
                                                {{position.title}}
                                            </td>
                                            <td>
                                                ---
                                            </td>
                                            <td>
                                                ---
                                            </td>
                                            <td>
                                                ---
                                            </td>
                                            <td>
                                                <button type="submit" class="btn btn-warning">Edit&emsp;</button>

                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button *ngIf="!addPosition" type="submit" class="btn btn-info pull-right" (click)="addPosition = true">Add Position</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div *ngIf="addPosition" class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Title</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Days</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Shift</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>

                                        </div>

                                        <button type="submit" class="btn btn-info pull-left" (click)="addPosition = false">Submit New Position</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>