<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title ">Positions</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <button *ngIf="!(showAddPositionForm || showEditPositionForm)" type="submit" class="btn btn-info pull-right" (click)="showAddPositionForm = true">Add Position</button>
                                <table class="table" *ngIf="!(showAddPositionForm || showEditPositionForm)">
                                    <thead class=" text-info">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Days
                                        </th>
                                        <th>
                                            Shift
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let position of positions" [position]="position">

                                            <td>
                                                {{position.id}}
                                            </td>
                                            <td>
                                                {{position.title}}
                                            </td>
                                            <td>
                                                ---
                                            </td>
                                            <td>
                                                ---
                                            </td>
                                            <td>
                                                ---
                                            </td>
                                            <td>
                                                <button type="submit" class="btn btn-warning" (click)="showEdit(position)">Edit&emsp;</button>

                                                <button type="submit" class="btn btn-danger" (click)="deletePosition(position.id)">Delete</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                                <div *ngIf="showAddPositionForm" class="card-body">
                                    <button *ngIf="showAddPositionForm" type="submit" class="btn btn-danger pull-right" (click)="showAddPositionForm = false">Cancel</button>
                                    <br>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Title</label>
                                                    <input type="text" class="form-control" name="title" [(ngModel)]="newPosition.title">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Status</label>
                                                    <input type="text" class="form-control" name="status" [(ngModel)]="newPosition.status">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Days</label>
                                                    <input type="text" class="form-control" name="days" [(ngModel)]="newPosition.days">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Start Time</label>
                                                    <input type="number" class="form-control" name="startTime" [(ngModel)]="newPosition.startTime">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">End Time</label>
                                                    <input type="number" class="form-control" name="endTime" [(ngModel)]="newPosition.endTime">
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-info pull-left" (click)="addPosition()">Submit New Position</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>

                                <div *ngIf="showEditPositionForm" class="card-body">
                                    <button *ngIf="showEditPositionForm" type="submit" class="btn btn-danger pull-right" (click)="showEditPositionForm = false">Cancel</button>
                                    <br>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Title</label>
                                                    <input type="text" class="form-control" name="title" value="positionToEdit.title" [(ngModel)]="positionToEdit.title">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Status</label>
                                                    <input type="text" class="form-control" name="status" value="positionToEdit.status" [(ngModel)]="positionToEdit.status">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Days</label>
                                                    <input type="email" class="form-control" name="days" value="positionToEdit.days" [(ngModel)]="positionToEdit.days">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Start Time</label>
                                                    <input type="email" class="form-control" name="startTime" value="positionToEdit.startTime" [(ngModel)]="positionToEdit.startTime">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">End Time</label>
                                                    <input type="text" class="form-control" name="endTime" value="positionToEdit.endTime" [(ngModel)]="positionToEdit.endTime">
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-info pull-left" (click)="editPosition()">Submit Edit</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>